/** @format */

* {
    margin: 0;
    padding: 0;
}
.slider {
    overflow: hidden;
    width: 100vw;
    height: 80vh;
    position: relative;

    & > ul {
        height: auto;
        overflow: hidden;
        position: relative;
        left: 0;
        transition: left 1s;
    }

    .slider-item {
        display: inline-block;
        height: 80vh;
        width: 80vw;
        & > img {
            display:block;
            height: 80vh;
            width: 100%;
        }
    }

    .slider-arrow {
        display: inline-block;
        color: rgb(228, 202, 202);
        font-size: 50px;
        position: absolute;
        top: 45%;
        margin-top: -40px;
        z-index: 100;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        height: 10vh;
        &:hover {
            background: rgba(32, 26, 26, 0.2);
        }

        &.slider-arrow-right {
            right: 3vw;
            height: 11vh;
        }
        &.slider-arrow-left {
            left: 3vw;
            height: 11vh;
        }
    }

    .slider-dots-wrap {
        z-index: 99;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 5vh;

        .slider-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 3px solid rgb(241, 239, 239);
            margin: 6px;
            cursor: pointer;
            border-radius: 20px;

            &:hover {
                border: 3px solid #dfd7d7;
            }

            &.slider-dot-selected {
                background: #ccc;
            }
        }
    }
}
